body{
    font-family: 'Cabin', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
	background: url("https://paulrbo.github.io/backg4.jpg") rgb(0, 0, 0);
	background-repeat: no-repeat;
	margin: 0;
}

#centered{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
	
}

#documentation{
    position: relative;
    padding-top: 50%;
    width: 30%;
    height: 500%;
    overflow: hidden;
    will-change: transform;
    display: flex;
    background-color: turquoise;
    justify-content: center;
}

#iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    padding: 0;
    margin: 0;
}
  
  .topnav {
	overflow: hidden;
	background-color: rgba(51, 51, 51, 0.8);
	box-shadow: inset 0 -5px 10px rgb(0 0 0 / 50%);
  }
  
  .topnav a {
	float: left;
	color: #f2f2f2;
	text-align: left;
	padding: 25px 25px;
	text-decoration: none;
	font-size: 25px;
  }
  
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  .topnav a.active {
	background-color: #83BC5D;
	color: rgb(255, 255, 255);
  }
